#main-showcase {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	grid-template-columns: 1fr;
}

.showcase-center {
	width: 100%;
	max-width: 1600px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.showcase-side {
	position: absolute;
	top: 0;
	margin-top: 40px;
	left: 22px;

	display: flex;
	flex-direction: column;
	gap: 0px;

	z-index: 10;

	.suggested-game-box {
		margin-top: -25px;
	}

	.suggested-game-box:nth-child(2) {
		margin-left: 60px;
		z-index: 11;
	}

	.suggested-game-box:nth-child(3) {
		z-index: 12;
	}
}


// CONTENT
#homepage-content-section {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-top: 24px;
  padding: 0 21px;
  margin-bottom: 10vh;
}

.featuredstoriescard-title-text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	width: 100%;

	padding-bottom: 14px;
	margin-bottom: 22px;

	#featuredstoriescard-title-text {
		font-family: var(--font-primary);
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		color: var(--aquamarine);

		margin: 0;
		padding: 0;
	}

	#featuredstoriescard-title-desc {
		font-family: var(--font-primary);
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;

		color: var(--white);

		margin-top: 8px;
		padding: 0;
	}
}

.featured-stories-row {
  display: flex;
  flex-wrap: nowrap;

  gap: 30px;

  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;

  padding-bottom: 10px;

  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 999px;
  }
}

.featuredstoriescard-frame {
  flex: 0 0 auto;
	width: 350px;
}

/* Responsive */

@media (max-width: 1280px) {
	#main-showcase {
		gap: 24px;
	}

	.showcase-suggested-games {
		.suggested-game-box {
			width: 220px;
		}
	}
}

// MOBILE
@media (max-width: 1024px) {
	#main-showcase {
		flex-direction: column;
		align-items: center;
	}

	.showcase-center {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.showcase-side {
		position: static;
		width: 100%;

		display: flex;
		flex-direction: row;

		margin-top: 24px;
		padding: 0 16px;

		gap: 16px;

		overflow-x: auto;
		overflow-y: hidden;

		justify-content: flex-start;

		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.showcase-side::-webkit-scrollbar {
		display: none;
	}

}