.drop-zone {
  width: 100%;
  min-height: 180px;

  border: 2px dashed var(--blue);
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: all 0.2s ease;
}

.drop-zone.dragging {
  border-color: var(--aquamarine);
  background: rgba(0, 255, 255, 0.08);
}