.archive-search-wrapper {
  //min-height: 60svh;
  display: flex;
  gap: 60px;
  z-index: 2;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  position: relative;

  .archive-search-container {
    width: 60%;
    max-width: 1228px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--pad-y);
    align-items: center;
    margin: 0 auto;

    .logo {
      width: var(--widthLogoBig);
      height: auto;
      max-width: 100%;
      margin-top: 50px;
    }

    .archive-search-logs {
      width: 100%;
      max-width: 1228px;
      display: flex;
      flex-direction: column;
      gap: 9px;
      padding: 25px 0;
      margin-top: 20px;
      font-family: var(--font-primary);
      font-size: 14px;
      color: var(--white);

      .log-line {
        display: block;
      }

      .ok-text {
        color: var(--orange);
      }

      .user-name-text {
        color: var(--orange);
      }

      .welcome-text {
        color: var(--aquamarine);
      }
    }
  }

}
