
a {
	text-decoration: none;
	color: inherit;
}

.btn {
	padding: var(--pad-y) var(--pad-x) ;
	border-radius: var(--border-radius);
	border : 1px solid var(--blue);
	color: var(--blue);
	transition: all var(--timing) var(--easing);
	
	&:hover {
		background-color: var(--blue);
		color: var(--black);
	}
}
