// Wrapper
.search-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-family: var(--font-primary);
  
  // Container
  .search-bar-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    height: 40px;
    
    // Prefix Symbol
    .search-bar-prefix {
      position: absolute;
      left: 12px;
      color: var(--blue);
      font-size: 14px;
      pointer-events: none;
      z-index: 2;
    }
    
    // Input
    #search-bar-input {
      width: 100%;
      height: 40px;
      background: var(--black);
      border: 1px solid var(--blue);
      border-radius: 14px;
      color: var(--blue);
      font-family: inherit;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 80px 10px 32px;
      outline: none;
      box-sizing: border-box;
      caret-color: var(--blue);
      transition: border-color 0.1s, box-shadow 0.2s;

      &::placeholder {
        color: var(--blue);
      }

      &:focus {
        border-color: var(--blue);
        box-shadow: 0 0 5px var(--blue);
      }
    }
    
    // Cross Ref and Search Icons
    .search-bar-icons {
      position: absolute; 
      display: flex;
      right: 12px;
      align-items: center;
      gap: 8px;
      z-index: 2;
      
      .search-icon {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        padding: 6px;
        cursor: pointer;
        
        img {
          width: 16px;
          height: 16px;
          opacity: 0.8;
          transition: opacity 0.2s;
        }
        
        &:hover img {
          opacity: 1;
        }
      }
    }
  }
}

// Logs Text
.status-logs {
    width: 100%;
    display: flex;
    gap: var(--pad-x);
    justify-content: space-between;
    margin-top: 40px;
    color: var(--white);
    font-size: 16px;        
    align-items: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    opacity: 0.85;
  }

  // Filter Icon
  .filter-icon {
    margin-left: -2.5rem;
    border: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    
    img {
        width: 26px;
        height: 26px;
        opacity: 0.8;
        transition: opacity 0.2s;
      }
  
      &:hover img {
        opacity: 1;
      }
    }
