#search-results-wrapper {
	width: 1228px;
	max-width: 100%;
	margin-top: 8px;
	background-color: var(--black);
	border: 1px solid var(--blue);
	border-radius: var(--border-radius);

	box-sizing: border-box;
	overflow: hidden;

	#search-result-container {
		padding: 14px 18px;
		min-height: 190px;
		&:not(:last-child) {
			border-bottom: 1px solid var(--blue);
		}

		.search-result-items {
			display: flex;
			align-items: flex-start;
			gap: 16px;

			.search-result-cover {
				flex-shrink: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #a8a8a82d;

				img {
					width: 158px;
					height: 158px;
					object-fit: cover;
				}
			}

			.search-result-info {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 8px;

				width: 516px;

				span {
					color: var(--aquamarine);

					font-family: var(--font-primary);
					font-size: 15px;
					font-style: normal;
					font-weight: var(--font-weight);
					line-height: 18px;

					text-transform: uppercase;
				}
			}
		}
	}
}